/* Google fonts import */

  @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Wildcard seleetor to overide deafult syles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic project styles */

    color: #3a3a3a;
    font-family: 'cabin', sans-serif;
}

h1, h2, h3 {
    font-family: 'cabin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: maroon;
}

.hidden-heading {
    display: none;
}

/* Header */

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'cabin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: maroon;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    list-style-type: none

}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav Toggle */

#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */

main {

    /* Make main element to adjust to surplus space between header and footer */

    flex: 1 0 auto;
    margin-top: 40px;
}

/* Hero, Food Menu and Contact us Section */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/spices.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {

    /* Final rgba value sets the opacity so it is semi-transparent */

    background-color: rgba(255, 213, 145, 0.8);
    font-size: 110%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    
}

#cover-text > h2, #cover-text > h3 {
    color: maroon;
}

/* Why Us & Menu section */

#background-on-owners {
    width: 90%;
    margin: 20px auto;
}

#background-on-owners h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#reasons-1 > div,
#reasons-2 > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#experience p {
    padding: 0 20px;
}

#experience hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px;
}

#circle-cover-bg {
    background: url(../images/Indian-food.jpg) no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;

    /* Makes the square image a circle */

    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#indian-food-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Services section */

#services {
    background: url('../images/indian-food-banner.jpg') no-repeat center/cover;

    /* Handles responsivity without the need for a media query */

    display: flex;
    flex-wrap: wrap;
}

#services div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 50px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#services h3 {

    /* Overide the heading colour set in general style */

    color: #fafafa;
}

/* Contact Us & Additional info */

#contact {
    background: url('../images/bg-pattern.jpg') no-repeat center/cover;

    /* Handles responsivity without the need for a media query */

    display: flex;
    flex-wrap: wrap;
}

#contact div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 30px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#contact  h3{
    color: #fafafa;
}

/* Footer */

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Contact Us Form */

.contact_us_body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fafafa;
}
.contact_us_form {
    margin-top: 100px;
    width: 80%;
    max-width: 400px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    padding: 5px;
    margin-bottom: 60px;
    border: 1px solid maroon;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

button {
    padding: 10px;
    cursor: pointer;
}

button:hover { 
    background-color: maroon;
    color: #fafafa;
}

/* Media Query Tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* Header */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        justify-content: space-between;
    }

    #menu {
        display: flex;
}

#menu > li {
    padding-left: 1rem;
}

.nav-toggle-label {
    display: none;
}

#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
}

/* Main content */

main {

    /* Push main content down to accomodate larger header */

    margin-top: 75px;
}

/* Hero */

#cover-text {
    width: 300px;
    right: 50px;
}

/* Why us & Menu section */

#reasons-1,
#reasons-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#reasons-1 > div,
#reasons-2 > div {
    width: 75%;

}

#reasons-2 > div {
    text-align: end;
    align-self: flex-end;
}
}

/* Large devices (laptops and desktops, 992px and up) */

@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}

@media screen and (min-width: 1200px) {

        /* Why us section */
        
    #experience {
        display: flex;
        flex-direction: row;
    }

    #experience > div {
        flex: 1;
    }

    #indian-food-image {
        order: 0;
    }
    
    #reasons-1 {
        order: 1;
    }

    #reasons-1 > div {
        align-self: flex-start;
        
    }

    #reasons-2 > div {
        align-self: flex-end;
    }
}